*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


@import './partials/_header.scss';
@import './partials/main.scss';
@import './partials/footer.scss';
@import './partials/jumbo.scss';
@import './partials/section.scss';


