* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.containerHead {
  margin: 0 15%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.containerHead nav {
  display: flex;
  align-items: center;
}

.containerHead nav ul {
  display: flex;
}

.containerHead nav li {
  list-style: none;
  margin: 0 10px;
  font-size: 12px;
  font-weight: bold;
}

.containerHead nav a {
  text-decoration: none;
  color: #464652;
}

.containerHead #logoHead {
  height: 50px;
}

.containerHead a.actives {
  border-bottom: 4px solid #0282f9;
  padding: 27px 0;
  color: #0282f9;
}

.containerHead a:hover {
  border-bottom: 4px solid #0282f9;
  padding: 27px 0;
  color: #0282f9;
}

main {
  background-color: #1c1c1c;
}

main .containerContents {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

main .fumetti {
  width: 70%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  padding-bottom: 50px;
}

main button {
  padding: 10px 30px;
  color: white;
  background-color: #0282f9;
  border: none;
  margin: 20px;
  font-weight: bold;
  margin-left: 44%;
}

main button a {
  color: white;
  text-decoration: none;
}

main button:hover {
  scale: 1.2;
}

main .cardFumetto {
  width: 16.6666666667%;
  color: white;
  padding: 0 10px;
  margin-top: 30px;
  height: 300px;
}

main .cardFumetto:hover {
  scale: 1.1;
}

main .cardFumetto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
}

.container1 {
  background-color: #1c1c1c;
  height: 400px;
}

.containerFoot {
  margin: 0 15%;
  display: flex;
  justify-content: space-between;
}

#footimg {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.container-link {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  width: 40%;
}

.container-link h4 {
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}

li,
a {
  color: gray;
  padding: 5px 0px;
  font-size: 12px;
  text-decoration: none;
}

li:hover,
a:hover {
  color: white;
  font-weight: 500;
}

.logo-bg {
  height: 400px;
}

.container {
  height: 400px;
}

.container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

section .containerSection {
  background-color: #0282f9;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section .icons {
  display: flex;
  justify-content: center;
}

section .icons img {
  height: 40px;
  margin-right: 10px;
}

section .icon a {
  display: flex;
  align-items: center;
  margin: 15px;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

section .icon a:hover {
  scale: 1.2;
}

