main{
    background-color: #1c1c1c;
    .containerContents{
        
        display: flex;
         flex-wrap: wrap;
         padding-bottom: 50px;
          
    }
    .fumetti{
      width: 70%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      padding: 30px 20px;
      padding-bottom: 50px;
    }
    
    button{
      padding: 10px 30px;
      color: white;
      background-color: #0282f9;
      border: none;
      margin: 20px;
      font-weight: bold;
      margin-left: 44%;

      a{
        color: white;
        text-decoration: none;
      }
      &:hover{
        scale: 1.2;
      }
    }
    .cardFumetto{
        width: calc(100% / 6);
        color: white;
        padding: 0 10px;
        margin-top: 30px;
        height: 300px;
  
        &:hover{
          scale: 1.1;
        }
  
        img{
          width: 100%;
          object-fit: cover;
          object-position: top;
          height: 100%;
        }
      }
}