section{
    .containerSection{
        background-color: #0282f9;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icons{
        display: flex;
        justify-content: center;
    
    
         img{
        height: 40px;
        margin-right: 10px;
         }
        
    }
    
    .icon a{
        display: flex;
        align-items: center;
        margin: 15px;
        color: white;
        font-size: 12px;
        text-decoration: none;
    
         &:hover{
            scale: 1.2;
        }
    }
}
